.navB {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  transition: color 0.25s linear;
}
.carouselCom {
  width: 100%;
  overflow: hidden;
}

.cardCarouselComContainer {
  width: 100%;
}
.searchB {
  position: absolute;
  top: 40%;
  z-index: 5;
}

.reviewComponent {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.seeAllContainer {
  text-align: end;
}
.seeAll {
  color: black;
  font-weight: bold;
}
.seeAll:hover {
  color: #ff385c;
  text-decoration: underline;
}
.ProfileLogoutContainer {
  position: fixed;
  z-index: 10;
  top: 10.6%;
  left: 85%;
  background-color: white;
  width: 212px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #ff385c;
  border: 1px solid #ff385c;
}

.sideShowClick:focus,
.sideShowClick:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (width<=450px) {
  .logoContainerFooter {
    display: flex;
    justify-content: center;
  }
  .carouselCom {
    width: 141.5%;
  }
  .searchB {
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 5;
  }

  .cardCarouselComContainer {
    width: 141.5%;
  }
  .cardComponent {
    width: 141.5%;
  }
  .reviewParentComponent {
    width: 141.5%;
  }
  .reviewComponent {
    display: initial;
  }
  .seeAllContainer {
    text-align: center;
  }
  .iconNavbar {
    margin-left: 16px;
  }
  .AvatarSignContainer {
    display: flex;
    justify-content: center;
  }
  .ProfileLogoutContainer {
    top: 31%;
    left: 27%;

    width: 180px;
  }
  .footerDistricts {
    display: flex;
    justify-content: center;
  }
  .footerComponent {
    width: 141.5%;
  }
}

@media screen and (width=768px) {
  .reviewComponent {
    display: initial;
  }
  .footerContainer {
    font-size: 13px;
  }
}
.optionContainer {
  border: 2px solid #ff385c;
}
