.userLog-Reg {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.userInput {
  border: 1px solid #ff385c !important;
}

.submitBtn {
  box-shadow: none;
  background-color: #ff385c;
  width: 250px;
  color: white;
  /* border-radius: 50px; */
  padding: 9px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  border: 2px solid white;
}

.submitBtn:hover {
  border: 2px solid #ff385c;
  background-color: white;
  color: black;
}
