.custom-modal {
  border-radius: 25px !important;
  padding: 20px;
}
.btnsTntOwn {
  border-radius: 25px;
}

.btnTnt {
  box-shadow: none !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.btnOwn {
  box-shadow: none !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.btnTnt:hover {
  transform: scale(1.1) !important;
}

.btnOwn:hover {
  transform: scale(1.1) !important;
}

.userSign {
  text-align: center;
}
.userSignIn-Up {
  font-weight: bold;
  color: black;
}
.userSignIn-Up:hover {
  color: #ff385c;
  border-bottom: 1px solid #ff385c;
}
