.scrollContainer {
  border: 1px solid #ff385c;
}

.btnScroll {
  border: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 17px;
  background-color: white;
}

.btnScroll:hover {
  box-shadow: none;
  color: #ff385c;
  text-decoration: underline #ff385c;
}

.aboutContainer {
  border: 1px solid #ff385c;
  padding: 6%;
}
.detailsText {
  font-weight: bold;
  font-size: 19px;
  margin-top: 4px;
}
.moreDetailsBtn {
  box-shadow: none;
  font-weight: bold;
  border: none;
  background-color: white;
  font-size: 17px;
}

.moreDetailsBtn:hover {
  box-shadow: none;
  font-weight: bold;
  color: #ff385c;
  text-decoration: underline #ff385c;
}

.termsContainer {
  border: 1px solid #ff385c;
  padding: 6%;
}
.rentIncludesContainer {
  border: 1px solid #ff385c;
}
.rentText {
  font-weight: bold;
  font-size: 23px;
}

.propertyDetailMapContainer {
  border: 1px solid #ff385c;
  padding: 4px;
  padding-bottom: 12px;
}
.moreDetail:hover {
  color: #ff385c;
}
.cardDetailIncludes {
  border: 1px solid #ff385c;
}
.topContainer {
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.locationIcon {
  color: #ff385c;
}
.locationContainer {
  padding-left: 29px;
  padding-right: 29px;
  margin-left: 10px;
}
.availableManaged {
  display: flex;
  margin-left: 34px;
}
.scheduleVisitContainer {
  border: 1px solid #ff385c;
}
.scrollToContainer {
  width: 64%;
}
.scheduleScrollContainer {
  display: flex;
}
.containerScrollWrapper {
  margin-left: 6%;
}
.managedContainer {
  margin-left: 17px;
  width: 200px;
  padding: 3px;
}

.availableContainer {
  width: 200px;
  margin-left: 17px;
  padding: 3px;
}
.modalCloseBtn {
  background-color: #ff385c;
  border: 1px solid #ff385c;
  padding: 1%;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}
@media screen and (width<=450px) {
  .scheduleScrollContainer {
    display: flex;
    justify-content: center;
  }
  .scrollToContainer {
    width: 95%;
  }
  .containerScrollWrapper {
    margin-left: 0%;
  }
  .detailsText {
    font-weight: bold;
    font-size: 15px;
    margin-top: 4px;
  }
  .moreDetailsBtn {
    box-shadow: none;
    font-weight: bold;
    border: none;
    background-color: white;
    font-size: 15px;
  }
  .aboutContainer {
    padding: 6%;
  }
  .termsContainer {
    padding: 6%;
  }
  .availableManaged {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0%;
  }
  .managedContainer {
    margin-left: 0%;
    width: 180px;
    padding: 1%;
  }
  .availableContainer {
    width: 180px;
    margin-left: 0%;
    padding: 1%;
  }
  .locationContainer {
    margin-left: 0%;
  }
  .scheduleVisitContainer {
    margin-top: 17%;
  }
}

@media screen and (width: 768px) {
  .scheduleScrollContainer {
    display: flex;
    justify-content: center;
  }
  .scrollToContainer {
    width: 95%;
  }
  .containerScrollWrapper {
    margin-left: 0%;
  }
  .detailsText {
    font-weight: bold;
    font-size: 15px;
    margin-top: 4px;
  }
  .moreDetailsBtn {
    box-shadow: none;
    font-weight: bold;
    border: none;
    background-color: white;
    font-size: 15px;
  }
  .aboutContainer {
    padding: 6%;
  }
  .termsContainer {
    padding: 6%;
  }
  .availableManaged {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0%;
  }
  .managedContainer {
    margin-left: 0%;
    width: 180px;
    padding: 1%;
  }
  .availableContainer {
    width: 180px;
    margin-left: 0%;
    padding: 1%;
  }
  .locationContainer {
    margin-left: 0%;
  }
  .scheduleVisitContainer {
    margin-top: 17%;
  }
}
